<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.suke.czx.modules.custom.mapper.SystemCustomInfoMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.suke.czx.modules.custom.entity.SystemCustomInfo" id="SystemCustomInfoMap">
        <result property="address" column="address"/>
        <result property="contacts" column="contacts"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="customCode" column="custom_code"/>
        <result property="customName" column="custom_name"/>
        <result property="id" column="id"/>
        <result property="telephone" column="telephone"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

</mapper>